<div class="column">
    <h4 class="ui top attached large header">{{ 'abenmada_backoffice_plugin.ui.backoffice_appearance' | trans }}</h4>
    <div class="ui attached segment">
        <div class="two fields">
            {{ form_row(form.colorPrimaryButton) }}
            {{ form_row(form.backgroundColorPrimaryButton) }}
        </div>

        <div class="two fields">
            {{ form_row(form.colorLink) }}
            {{ form_row(form.colorCheckbox) }}
        </div>

        <div class="two fields">
            {{ form_row(form.colorHeaderIcon) }}
            {{ form_row(form.backgroundColorHeaderIcon) }}
        </div>

        <div class="two fields">
            {{ form_row(form.colorSortableActiveColumn) }}
            {{ form_row(form.backgroundColorMenu) }}
        </div>

        <div class="two fields">
            {{ form_row(form.colorSubItem) }}
            {{ form_row(form.colorSubItemHover) }}
        </div>

        <div class="two fields">
            {{ form_row(form.colorSubItemActive) }}
            {{ form_row(form.backgroundColorSubItemActive) }}
        </div>
    </div>
</div>
